.row
	.big.box
		.casket
			.image.info
			.mini.box
				.small.info.one
				.small.info.two
			.mini.box
				.small.info.one
				.small.info.two
			.mini.box
				.small.info.one
				.small.info.two
			.mini.box
				.small.info.one
				.small.info.two
			.mini.box
				.small.info.one
				.small.info.two
			.mini.box
				.small.info.one
				.small.info.two
			.mini.box
				.small.info.one
				.small.info.two
			.mini.box
				.small.info.one
				.small.info.two
			.mini.box
				.small.info.one
				.small.info.two
			.mini.box
				.small.info.one
				.small.info.two
			.mini.box
				.small.info.one
				.small.info.two
			.mini.box
				.small.info.one
				.small.info.two

		%a.glyphicon.glyphicon-chevron-left.left.key
		%a.glyphicon.glyphicon-chevron-right.right.key
